				body{
				margin:0;
				padding:0;
				background:black;
				background-size:cover;
				background-position: center;
									}
				header{
				font-family:'Oswald' , sans-serif;
				background: black;
				padding:8px 0px 6px 40px;
				height:45px;
				}
				header img{
				width:100px;
				height:auto;
				float: left;
				margin-top: -5px;
				margin-right: 10px;
				}
		
				nav ul{
				display: inline;
				padding: 0px;
				float:left;
				}
				nav ul li {
				display: inline-block;
				list-style-type:none;
				float: left;
				margin-left: 10px;
				}
				.active{
				color:white;
				}
				nav ul li a{
				color:gray;
				text-decoration: none;
				}
				nav ul li a:hover{
				color:white;
				}
				ul:hover{
				color:gray;
				}
				.string{
				height:5px;
				width:100%;
			   
				animation: slide 40s infinite;
				}
								@keyframes slide{
						0%{
					background:red;
					}
						20%{
					background:orange;
						}
						20.01%{
					background:yellow;
					}
						40%{
					background:green;
					}
							40.01%{
					background:#00FFFF;
					}
						60%{
					background:blue;
						}
						60.01%{
					background:purple;
					}
						80%{
					background:red;
					}
							80.01%{
					background:orange;
					}
								100%{
					background:yellow;
					}
								}
						h1{
					text-align:center;
					font-family:'Oswald' , sans-serif;
					font-size: 75px;
					color:grey;
					background:black;
					letter-spacing:20px;
						}
					h1:hover{
					color:#F9F9F9;
					cursor:pointer;
					}
					.logo{
					text-align:center;
					height:150px;
					}